# Virtual environment
.venv/

# Rasa
.rasa/
models/

# Logs
*.log

# Python cache
__pycache__/
*.pyc
# IDE files
fix.py
nlu_clean.yml
# Flask cache
instance/
*.sqlite3

# OS files
.DS_Store
Thumbs.db
